<?xml version="1.0" encoding="utf-8"?>
<flog>
	<main_db_type>PostgreSQL</main_db_type>
	<main_db_url>jdbc:postgresql://localhost:5432/mapledb</main_db_url>
	<user>piedpiper47</user>
	<password>catallena7</password>
	<!-- <main_db_type>Oracle</main_db_type>
	<main_db_url>jdbc:oracle:thin:@localhost:1521:mapledb</main_db_url> -->
	<agent_port>33783</agent_port>
	<GMT>GMT+9</GMT>
	<no_of_thread>1</no_of_thread>
	<get_host_sql>SELECT DISTINCT HOSTNAME FROM HOST_INFOS WHERE STATUS = 'up'</get_host_sql>
</flog>
